### Introducing Pandas
Pandas is Python And Numerical Data Analysis

In [5]:
import numpy as np
import pandas as pd # for stand-along remember to pip install pandas

In [59]:
# Pandas procides additional data structures
l = [8.0, 7, -5.0, 3, 99]
# a Pandas Series is a mutable collection of the same data type
# p = pd.Series(l, index=range(0,10,2)) # we may set an index on creation
p = pd.Series(l)
p.values # the values of a Series are a Numpy array
p.index # a range-like object - there is always an index
# p[0:3] # by default the index is zero-based, 0, 1, 2.... We can apply our own index
ind = ('d','b','a','c', 'd') # a tuple (same length as the target series)
s = pd.Series(l, index=ind) # we use the tuple as an index
s.index
s['b':'c'] # normal slicing, but inclusive
s['d'] # every match is found - even with repeated index names

d     8.0
d    99.0
dtype: float64

In [69]:
# building Pandas Series
vals = (4,7,-5,3)
ind = {'d', 'b', 'a', 'c'} # set ensures unique members
s = pd.Series(vals, index=ind)
s['d'] # due to the index being a set we cannot presume the index order

-5

In [79]:
s['d'] = 99.99 # we can mutate members of a Series
s.iloc[0] # iloc lets us use the inderlying index location
s

C:\Users\rb17\AppData\Local\Temp\ipykernel_26608\2174942194.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '99.99' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s['d'] = 99.99 # we can mutate members of a Series

a     4.00
c     7.00
d    99.99
b     3.00
dtype: float64

In [85]:
# as well as mutating members, we can add members to the Series
s['e'] = -321
s['d':'e':2] # step uses the underlying ordinality

d     99.99
e   -321.00
dtype: float64

In [93]:
# We can use comparative logic to return members
s[s>2] # any comparitor is legal here
# we may apply mathematics to all the members
s**0.5  # apply to every member NaN represents 'not a number'

a    2.000000
c    2.645751
d    9.999500
b    1.732051
e         NaN
dtype: float64

In [95]:
s.iloc[2] = np.nan
s

a      4.0
c      7.0
d      NaN
b      3.0
e   -321.0
dtype: float64